* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
}

.Back-main {
    width: 100%;
    background-color: #20243f;
    height: 100vh;
    color: white;
}

.main {
    width: 1440px;
    margin: 0 auto;
    padding: 20px 0;
}